<!--working version of sub navigation item-->

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DFKI Test Suite</title>


    <link rel='stylesheet' href='@routes.Assets.at("css/bootstrapValidator.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type='text/javascript' src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>

    <link href='@routes.Assets.at("css/datepicker.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/bootstrap-table.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/styles.css")' rel="stylesheet">

    <!--Icons-->
    <script src='@routes.Assets.at("js/lumino.glyphs.js")'></script>
    <script src='@routes.Assets.at("js/jquerysession.js")'></script>



</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>DFKI</span> Test Suite</a>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="langDirection" role="presentation"><a href="#">DE->EN</a></li>
                    <li class="langDirection" role="presentation"><a href="#">EN->DE</a></li>
                </ul>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-md-2 col-lg-2 sidebar">
    <ul class="nav menu" id="navMenu">
        <li class="navMenu"><a href="/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg>Dashboard</a></li>
        <li class="navMenu"><a href="report"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Reports</a></li>
        <li class="navMenu"><a href="rules"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Rules</a></li>
        <li class="parent navMenu">
            <a href="#dataPreparation" data-toggle="collapse">
                <span data-toggle="collapse" href="#dataPreparation"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>Data Preparation</span>
            </a>
            <ul class="children collapse" id="dataPreparation">
                <li>
                    <a class="navSubMenu" href="categorySentence">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Per Category
                    </a>
                </li>
                <li>
                    <a class="navSubMenu" href="engineSentence">
                        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Per Engine
                    </a>
                </li>
                <li>
                    <a class="navSubMenu" href="#">
                        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> From Previous Test
                    </a>
                </li>
            </ul>
        </li>
        <li class="navMenu"><a href="regex"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>Regex Evaluator</a></li>
    </ul>

</div><!--/.sidebar-->

<div class="col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 main">
    @content
</div><!--/.main-->

<script type='text/javascript'>
        $('.navMenu').each(function( index ) {
            if(index===@navIndex)
                $( this ).addClass( "active" );
        });

        $('.navSubMenu').each(function( index ) {
            if(index===@navIndex-10){
                $( this ).addClass( "active" );
                $(this).parent().parent().addClass("in");
            }
        });

        $('.navMenu').click(function(){
            $(this).siblings('li').removeClass('active');
            $(this).addClass("active");
        });

        $('.navSubMenu').click(function(){
            $('.navSubMenu').removeClass('active');
            $(this).addClass("active");
            $('.navMenu').removeClass("active");
        });

        $('.langDirection').each(function( index ) {
            $(this).click(function() {
                $.session.set('deen',index);
                $(this).siblings('li').removeClass('active');
                $(this).addClass("active");
            });
            if(index==$.session.get('deen')){
                $(this).addClass("active");
            }
        });


		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
</body>

</html>