@import play.api.libs.json.Json
@main(0)  {

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<h1 class="page-header">Dashboard</h1>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

<!--<script src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js'></script>-->
    <script src='@routes.Assets.at("js/bootstrap-table.js")'></script>
    <script src='@routes.Assets.at("js/bootstrap-table-filter-control.js")'></script>
    <script src='@routes.Assets.at("js/bootstrap-table-editable.js")'></script>
    <script src='@routes.Assets.at("js/Chart.bundle.min.js")'></script>
    <script src='@routes.Assets.at("js/bootstrap-editable.js")'></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">General Statistics</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="panel panel-orange panel-widget ">
                            <div class="row no-padding">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <span class="glyphicon glyphicon-book" style="font-size:50px"></span>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="large">@Dashboard.getEngineCount</div>
                                    <div class="text-muted">Translation engines</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="panel panel-orange panel-widget">
                            <div class="row no-padding">
                                <div class="col-sm-3 col-lg-5 widget-left">
                                    <span class="glyphicon glyphicon-file" style="font-size:50px"></span>
                                </div>
                                <div class="col-sm-9 col-lg-7 widget-right">
                                    <div class="large">@Dashboard.getReportCount</div>
                                    <div class="text-muted">Reports</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div>
</div><!--/.row-->


    <!--<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Distributions:</div>
                <div class="panel-body">
                    <div class="row">

                        <div class="canvas-wrapper col-md-3">
                            <canvas class="chart" id="engines" ></canvas>
                        </div>
                        <div class="canvas-wrapper col-md-3">
                            <canvas class="chart" id="types" ></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Reports:</div>
                <div class="panel-body">
                    <table data-toggle="table" id="reportTable"
                    data-height="620"
                    data-filter-control="true"
                    data-sort-name="id" data-sort-order="desc"
                    class="table-striped">
                        <thead>
                            <tr>
                                <th data-field="delete" data-halign="center"></th>
                                <th data-field="id" data-halign="center"  data-sortable="true">Nr.</th>
                                <th data-field="engine" data-halign="center" data-sortable="true" data-filter-control="select">Engine</th>
                                <th data-field="type" data-halign="center" data-sortable="true" data-filter-control="select">Type</th>
                                <th data-field="lang" data-halign="center" data-sortable="true" data-filter-control="select">Language</th>
                                <th data-field="templateid" data-halign="center" data-sortable="true" data-filter-control="select">Template ID</th>
                                <th data-field="time" data-halign="center" data-sortable="true" data-filter-control="input">Time</th>
                                <th data-field="comment" data-halign="center" data-editable="true" data-sortable="true" data-filter-control="input">Comment</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="modal fade"  id="orderModal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel">Delete</h3>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button data-dismiss="modal" class="btn red" id="btnYes">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="myModalLabel">Delete</h3>
        </div>
        <div class="modal-body">
            <p id="confirmDeleteText"></p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button data-dismiss="modal" class="btn btn-danger" id="btnDeleteConfirm" onclick="deleteReport()">Confirm</button>
        </div>
    </div>


<script>

var reportAll= @Html(Json.stringify(Report.getFull()));

for(report of reportAll){
    //add remove button to the front of each row
    report["delete"]="<i class='glyphicon glyphicon-remove-circle' style='color:red'></i>";
}

$(function () {

    $('#reportTable').bootstrapTable('load', reportAll);

    $('#reportTable').find('tbody').find('tr').first().addClass('active');

    $('#reportTable').on('click-row.bs.table',
            function (e, row, element, field) {
                if(field==='delete'){
                    $('#orderModal').modal('show');
                    $('.modal-content').html($('#deleteModal').html());
                    deleteid=row.id;
                    $('#confirmDeleteText').html("Are you sure you want to remove report (ID: "+ deleteid + ", Engine: " + row.engine + ", Type: "+row.type + ", Time: "+row.time + ") ?");

                    return;
                }

                else if(field==='comment'){
                    return;
                }

                reportid = row.id;
                direction=row.lang;
                reload(reportid);
                element.addClass('active').siblings().removeClass('active');
            }
    );


});

function deleteReport() {
    $.ajax({
        type: 'POST',
        url: '/deleteReport',
        data: JSON.stringify({
            'id': deleteid
        }),
        beforeSend: function(data) {
        },
        success: function(data) {
            $('#reportTable').bootstrapTable('remove', {field: 'id', values: [deleteid]});
            if(deleteid===reportid){
                console.log('set to first row after deletion.');
                reload($('#reportTable').bootstrapTable('getData')[0].id);
                $('#reportTable').find('tbody').first().find('tr').first().addClass('active').siblings().removeClass('active');
                $('#reportTable').bootstrapTable('scrollTo','top');
            }
        },
        contentType: 'application/json',
        dataType: 'json'
    });
}

var engines = @Html(Json.stringify(Engine.getEnginesJS()));

var erMap = new Map();
for(var rp of reportAll){
    if(!erMap.has(rp.engine)){
        erMap.set(rp.engine,rp);
    }
}

var results = @Html(Json.stringify(Dashboard.getLastReports()));
console.log(results);

for(i=0;i<results.length;i++){
    var result = results[i];
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: result['value'],
                backgroundColor: [
                    "rgb(72,222,10)",
                    "rgb(226,19,19)",
                    "rgb(255,213,84)"
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Pass",
                "Fail",
                "Warning"
            ]
        },
        options: {
            responsive: true,
            title: {
                        display: true,
                        text: [result['client'], ' on ' + result['time']]
                    },
                    legend: {
                        display: false
                    }
        }
    };

    //var ctx = document.getElementById(result['client']).getContext("2d");
    //new Chart(ctx, config);

}


</script>

}
