@import play.api.libs.json.Json

@main(6) {

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="selectdb">Language:</label>

                            <div class="col-sm-9" style="padding-top: 12px; padding-left:0px;">
                                <select class="selectpicker form-control" data-width="fit" id="selectdb">
                                @LangDirection.getLangDirections.map { e =>
                                    <option>@e</option>
                                }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="txtCategory">Category: *</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="txtCategory">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">select <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                    @Category.getCategories().map{e =>
                                        <li><a href="#" onclick="$('#txtCategory').val($(this).text());updatePh();">@e.name</a></li>
                                    }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="txtPhonomenon">Phenomenon: *</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="txtPhonomenon">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">select <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="selectPhenomenon">

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="txtID">ID: *</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="txtID">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="btnEngine">Source: *</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="txtSource">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="btnEngine">Translation:</label>

                            <div id="evaluation" class="input-group col-sm-9">
                                <input type="text" class="form-control" id="translation" oninput="checkpass()" placeholder="This is just for evaluating regex, won't be written to database." style="border-top-right-radius: 4px;border-bottom-right-radius: 4px">
                                <span class="form-control-feedback glyphicon" id="feedbackIcon"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="btnEngine">Positive Regex:</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" oninput="checkpass()" id="pregex">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="btnEngine">Negative Regex:</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" oninput="checkpass()" id="nregex">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Comment:</label>

                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="comment" placeholder="">
                            </div>
                        </div>


                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-9" style="padding:0;">
                            <button style="margin-left:-10;" class="btn btn-default btn-warning" onclick="doInsert()">Insert</button>
                            <button class="btn btn-default" onclick="clearForm()">Clear</button>
                        </div>

                    </div>

                </div>
                <div class="alert alert-info" id="alertPanel" role="alert">Fields marked with * are mandatory. Either Positive Regex or Negative Regex must be filled.</div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='@routes.Assets.at("js/jquery-ui.min.js")'></script>

    <script>
            var cateogries = @Html(Json.stringify(Category.getCategoryStrings));

            $(function() {
                $("#txtCategory").autocomplete({
                    source: Object.keys(cateogries)
                });
            });

            function updatePh() {
                $('#selectPhenomenon').empty();
                for(var phe of cateogries[$('#txtCategory').val()]){
                    var t = $('<li><a>'+phe+'</a></li>');
                    t.find('a').click(function(){
                        $('#txtPhonomenon').val($(this).text());
                        console.log('clicked');
                    });
                    $('#selectPhenomenon').append(t);
                }
                $('#selectPhenomenon').selectpicker('refresh');

                $("#txtPhonomenon").autocomplete({
                    source: cateogries[$('#txtCategory').val()]
                });
            }

            $('#txtCategory').change(function (event) {
                event.preventDefault();
                updatePh();
            });

            function checkpass(){
                var vpr = $('#pregex').val();
                var vnr = $('#nregex').val();

                var trans = $('#translation').val();

                var spass = false;
                var sfail = false;
                var sregex = false;

                $('#pregex').css('background-color' , '#ffffff');
                $('#nregex').css('background-color' , '#ffffff');

                //check regex
                if(vpr.length>0 || vnr.length>0){
                    try{
                        if (vpr.length>0 && new RegExp(vpr,'').test(trans)){
                            spass=true;
                        }
                    } catch (err) {
                        $('#pregex').css('background-color' , '#B2FDFD');
                        sregex=true;
                    }

                    try{
                        if (vnr.length>0 && new RegExp(vnr,'').test(trans)){
                            sfail=true;
                        }
                    } catch (err) {
                        $('#nregex').css('background-color' , '#B2FDFD');
                        sregex=true;
                    }


                }

                if(sregex) {
                    vpass=4;
                    $('#evaluation').removeClass (function (index, className) {
                        return (className.match (/\bhas-\S+/g) || []).join(' ');
                    }).addClass('has-info has-feedback');

                    $('#feedbackIcon').removeClass (function (index, className) {
                        return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
                    }).addClass('glyphicon-exclamation-sign');
                }
                else if(spass && !sfail){
                    vpass=1;

                    $('#evaluation').removeClass (function (index, className) {
                        return (className.match (/\bhas-\S+/g) || []).join(' ');
                    }).addClass('has-success has-feedback');

                    $('#feedbackIcon').removeClass (function (index, className) {
                        return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
                    }).addClass('glyphicon-ok');
                } else if(!spass && sfail) {
                    vpass=2;
                    $('#evaluation').removeClass (function (index, className) {
                        return (className.match (/\bhas-\S+/g) || []).join(' ');
                    }).addClass('has-error has-feedback');
                    $('#feedbackIcon').removeClass (function (index, className) {
                        return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
                    }).addClass('glyphicon-remove');

                } else {
                    vpass=3;
                    $('#evaluation').removeClass (function (index, className) {
                        return (className.match (/\bhas-\S+/g) || []).join(' ');
                    }).addClass('has-warning has-feedback');
                    $('#feedbackIcon').removeClass (function (index, className) {
                        return (className.match (/\bglyphicon-\S+/g) || []).join(' ');
                    }).addClass('glyphicon-alert');
                }
            }

            function doInsert(){
                var direction=$('#selectdb').selectpicker('val').replace("->", "").toLowerCase();
                var category = $('#txtCategory').val();
                var phe = $('#txtPhonomenon').val();
                var id = $('#txtID').val();
                var pr = $('#pregex').val();
                var nr = $('#nregex').val();
                var source = $('#txtSource').val();
                var comment = $('#comment').val();
                var preid = id.substr(0,5);
                var postid = id.substr(5);

                if(direction.length===0 || category.length===0 || phe.length===0 || id.length===0 || (pr.length===0 && nr.length===0)){
                    alert("Input not complete. Please fill all required field.");
                    return;
                }

                var obj = {
                    direction:direction,
                    category:category,
                    phe:phe,
                    id:id,
                    pr:pr,
                    nr:nr,
                    source:source,
                    comment:comment,
                    preid:preid,
                    postid:postid
                }

                $.ajax({
                    type: 'POST',
                    url: '/insertRule',
                    data: JSON.stringify(obj),
                    success: function(data) {
                        if(data.result ===1){
                            clearForm();
                            $('#alertPanel').removeClass (function (index, className) {
                                return (className.match (/\balert-\S+/g) || []).join(' ');
                            }).addClass('alert-success');
                            $('#alertPanel').html('Successfully added test to database.');
                        }
                        else{
                            $('#alertPanel').removeClass (function (index, className) {
                                return (className.match (/\balert-\S+/g) || []).join(' ');
                            }).addClass('alert-danger');
                            $('#alertPanel').html(data.message);
                        }
                    },
                    contentType: 'application/json',
                    dataType: 'json'
                });

            }

            function clearForm(){
                $('#txtCategory').val('');
                $('#txtPhonomenon').val('');
                $('#txtID').val('');
                $('#pregex').val('');
                $('#nregex').val('');
                $('#txtSource').val('');
                $('#comment').val();
            }

    </script>


}