@main(0) {

<script src='@routes.Assets.at("js/bootstrap-table.js")'></script>
<script src='@routes.Assets.at("js/bootstrap-table-export.js")'></script>
<!--<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>-->
<script src='@routes.Assets.at("js/bootstrap-slider.min.js")'></script>
<!--<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css' rel="stylesheet">-->
<link rel='stylesheet' href='@routes.Assets.at("css/bootstrap-slider.min.css")'>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Language Direction:
                <select class="selectpicker" data-width="fit" id="selectDirection">
                    @LangDirection.getLangDirections.map{e =>
                    <option>@e</option>
                    }
                </select>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Generate Sentences per Category/Phenomenon
            </div>
            <div class="panel-body">

                <div class="form-inline form-group row col-lg-12 col-md-12">
                    Generate
                    <input id="inputCategory" type="text" style="width:50px;" class="form-control" placeholder="5">
                     sentences
                    or <input id="inputCategoryP" style="width:50px;" type="text" class="form-control" placeholder="">%
                    from each of these categories
                    <select id="selectCategory" class="selectpicker" multiple data-width="fit" title="all" data-selected-text-format="count > 2">

                        @Category.getCategories().map{category =>
                        <option>@category.name</option>
                        }

                    </select>.
                    <button type="button" class="btn btn-default pull-right" id="goCategory">
                        Go
                    </button>
                </div>

                <div class="form-inline form-group row col-lg-12 col-md-12">
                    Generate
                    <input type="text" class="form-control" style="width:50px;"
                           placeholder="5" id="inputSubPerCategory">
                    sentences
                    or <input id="inputSubPerCategoryP" style="width:50px;" type="text" class="form-control" placeholder="">%
                    from each phenomenon in these categories
                    <select class="selectpicker" id="selectSubPerCategory" multiple data-width="fit" title="all" data-selected-text-format="count > 2">
                        @Category.getCategories().map{category =>
                        <option>@category.name</option>
                        }
                    </select>.
                    <button type="button" class="btn btn-default pull-right" id="goSubPerCategory">
                        Go
                    </button>
                </div>

                <div class="form-inline form-group row col-lg-12 col-md-12">
                    Generate
                    <input id="inputSub" type="text" class="form-control" style="width:50px;"
                           placeholder="5" >
                    sentences
                    or <input id="inputSubP" style="width:50px;" type="text" class="form-control" placeholder="">%
                    from each of these phenomena
                    <select id="selectSub" class="selectpicker" multiple data-width="fit" data-live-search="true" title="all" data-selected-text-format="count > 2" data-dropupAuto="false">
                        @Category.getCategories().map{category =>
                        <optgroup label="@category.name"/>
                        @for(sub<-category.subs){
                            <option>@sub</option>
                            }
                        }


                    </select>.
                    <button type="button" class="btn btn-default pull-right" id="goSub">
                        Go
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Generate Sentences per Engine
            </div>
            <div class="panel-body">

                <div class="form-inline form-group row col-lg-12 col-md-12">
                    Generate
                    sentences that failed in
                    <select class="selectpicker" data-width="fit" id="selectFail">
                        <option>previous checks</option>
                        <option>last check</option>
                    </select>
                     by
                    <select class="selectpicker" data-width="fit" id="failEngine">
                        @Engine.getEngines.map{e =>
                        <option>@e</option>
                        }
                    </select>
                    .
                    <button type="button" class="btn btn-default pull-right" id="goFail">
                        Go
                    </button>
                </div>

                <div class="form-inline form-group row col-lg-12 col-md-12">
                    Generate the same set of
                    sentences as in the last check of
                    <select class="selectpicker" data-width="fit" id="lastAllEngine">
                        @Engine.getEngines.map{e =>
                        <option>@e</option>
                        }
                    </select>
                    .
                    <button type="button" class="btn btn-default pull-right" id="goLastAll">
                        Go
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default col-lg-12" style="display:none;margin-bottom:0px;" id="result-panel">
            <div class="panel-body">

                <div style="height:80%" id="loaderContainer">
                    <div id="loader"></div>
                </div>

                <div class="row" id="tableContent">

                    <div id="toolbar1">
                        <!--<button type="button" class="btn btn-default" id="categoryBtn"><i class='glyphicon glyphicon-list' style='color:black;top:-1px;'></i></button>-->

                        <input id="ex6" type="text" data-slider-min="2" data-slider-max="10" data-slider-step="0.5" data-slider-value="3.5"/>
                        <span id="ex6CurrentSliderValLabel" style="margin-left:20px">scramble factor for exporting: <span id="ex6SliderVal">3</span></span>

                        <button type="button" class="btn btn-default pull-right" id="exportBtn"><i class='glyphicon glyphicon-export notShowing' style='color:black;top:-1px;'></i></button>
                    </div>

                    <table data-toggle="table" id="result-table"
                           data-toolbar="#toolbar"
                           data-height="600"
                           data-sort-name="category" data-sort-order="asc"
                           class="table-striped">
                        <thead>
                        <tr>
                            <th data-field="id" data-halign="center">ID data point</th>
                            <th data-field="source" data-halign="center" data-sortable="true">Source</th>
                            <th data-field="category" data-halign="center" data-visible="true" data-sortable="true">Category</th>
                            <th data-field="barrier" data-halign="center" data-visible="true" data-sortable="true">Barrier</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="row" style="height:30px"></div>
            </div>
        </div>
    </div>
</div><!--/.row-->

<script type='text/javascript'>

$("#ex6").slider();
$("#ex6").on("slide", function(slideEvt) {
	$("#ex6SliderVal").text(slideEvt.value);
});
$("#ex6").on("change", function(slideEvt) {
	$("#ex6SliderVal").text(slideEvt.value.newValue);
});

var metainfo;

var resultData;

    var langDirect = "@LangDirection.getLangDirections.head.replace("->","").toLowerCase()";
    $('#selectDirection').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
        langDirect = $(e.currentTarget).val().replace("->","").toLowerCase();
    });

     $('#goCategory').click(function(){

        $('#result-panel').css("display", "block");

        var selectedCategories = $('#selectCategory').selectpicker('val');
        var numberCategories = $('#inputCategory').val();

        var percentage = $('#inputCategoryP').val();
        if(percentage.length>0){
            numberCategories=(parseFloat(percentage)/100).toFixed(2).toString();
        }

        metainfo="select " + (numberCategories===''?5:numberCategories) + " from " + selectedCategories.join();

        $.ajax({
            type: 'POST',
            url: '/getSentenceFromCategoryWithNum',
            data: JSON.stringify({'num':numberCategories,'categories':selectedCategories,'lang':langDirect}),
            beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
       },
       success: function (data) {
         refreshTable(data);
         document.getElementById("loaderContainer").style.display="none";
         document.getElementById("tableContent").style.display="block";
       },
            contentType: 'application/json',
            dataType: 'json'
        });
     });

     $('#goSub').click(function(){

        $('#result-panel').css("display", "block");

        var selectedCategories = $('#selectSub').selectpicker('val');
        var numberCategories = $('#inputSub').val();

        var percentage = $('#inputSubP').val();
        if(percentage.length>0){
            numberCategories=(parseFloat(percentage)/100).toFixed(2).toString();
        }

         metainfo="select " + (numberCategories===''?5:numberCategories) + " from " + selectedCategories.join();

        $.ajax({
            type: 'POST',
            url: '/getSentenceFromSubWithNum',
            data: JSON.stringify({'num':numberCategories,'categories':selectedCategories,'lang':langDirect}),
            beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
       },
       success: function (data) {
         refreshTable(data);
         document.getElementById("loaderContainer").style.display="none";
         document.getElementById("tableContent").style.display="block";
       },
            contentType: 'application/json',
            dataType: 'json'
        });
     });

     $('#goSubPerCategory').click(function(){

        $('#result-panel').css("display", "block");

        var selectedCategories = $('#selectSubPerCategory').selectpicker('val');
        var numberCategories = $('#inputSubPerCategory').val();

        var percentage = $('#inputSubPerCategoryP').val();
        if(percentage.length>0){
            numberCategories=(parseFloat(percentage)/100).toFixed(2).toString();
        }

         metainfo="select " + (numberCategories===''?5:numberCategories) + " from " + selectedCategories.join();

        $.ajax({
            type: 'POST',
            url: '/getSentenceFromSubPerCategory',
            data: JSON.stringify({'num':numberCategories,'categories':selectedCategories,'lang':langDirect}),
            beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
       },
       success: function (data) {
         refreshTable(data);
         document.getElementById("loaderContainer").style.display="none";
         document.getElementById("tableContent").style.display="block";
       },
            contentType: 'application/json',
            dataType: 'json'
        });
     });

     $('#goLastAll').click(function(){

        $('#result-panel').css("display", "block");

        var allEngine = $('#lastAllEngine').selectpicker('val');

         metainfo="generate the same set with the last check of " + allEngine;

        $.ajax({
            type: 'POST',
            url: '/getSentenceLastReportEngine',
            data: JSON.stringify({'engine':allEngine,'lang':langDirect}),
            beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
       },
       success: function (data) {
         refreshTable(data);
         document.getElementById("loaderContainer").style.display="none";
         document.getElementById("tableContent").style.display="block";
       },
            contentType: 'application/json',
            dataType: 'json'
        });
     });

     $('#goFail').click(function(){

        $('#result-panel').css("display", "block");

        var allEngine = $('#failEngine').selectpicker('val');
        var allFail = !($('#selectFail').selectpicker('val')==='last check');

         metainfo="generate failed sentences in " + allFail + " of " + allEngine;

        $.ajax({
            type: 'POST',
            url: '/getSentenceFailed',
            data: JSON.stringify({'all':allFail, 'engine':allEngine,'lang':langDirect}),
            beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
       },
       success: function (data) {
         refreshTable(data);
         document.getElementById("loaderContainer").style.display="none";
         document.getElementById("tableContent").style.display="block";
       },
            contentType: 'application/json',
            dataType: 'json'
        });
     });


$('#categoryBtn').click(function(){
    var x = $(this).children().first();
    if(x.hasClass('notShowing')){
        x.css('color','black');
        x.removeClass('notShowing');
        $('#result-table').bootstrapTable('showColumn','category').bootstrapTable('showColumn','barrier');
    }
    else{
        x.css('color','black');
        x.addClass('notShowing');
        $('#result-table').bootstrapTable('hideColumn','category').bootstrapTable('hideColumn','barrier');
    }
});

$('#exportBtn').click(function(){
    //console.log(resultData);
    //window.location="scrambleSentences?data:"+JSON.stringify(resultData);

    var factor = $("#ex6").slider().slider('getValue');

    var temp=document.createElement("form");
    temp.action="scrambleList";
    temp.method="POST";
    temp.style.display="none";
    var opt=document.createElement("input");
    opt.name='data';
    opt.type='hidden';
    //opt.value=JSON.stringify(resultData);
    opt.value=JSON.stringify({'lang':langDirect, 'data':resultData, 'factor':factor, 'meta':metainfo});
    temp.appendChild(opt);
    document.body.appendChild(temp);
    temp.submit();


    //ajax won't work here due to async handling
    <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: '/scrambleList',-->
            <!--data: JSON.stringify({'all':'lala'}),-->
            <!--success: function (data) {-->
            <!--console.log(data);-->
            <!--},-->
            <!--contentType: 'application/json',-->
            <!--dataType: 'json'-->
    <!--});-->


});


     function refreshTable(data){
         $('#result-table').bootstrapTable('load', data);
         resultData=data;
     }

</script>

}