@main(4)  {

<!--<link rel="stylesheet" href="http://scriptular.com/application.css">-->
<script src="http://scriptular.com/spine.js" type="text/javascript"></script>
<script src="http://scriptular.com/application.js" type="text/javascript"></script>

<style>
    #quick_reference .scrollable {
    overflow:auto;
    height:80%;
    }

    #quick_reference label {
    color: #999;
    }

    #quick_reference table {
    color: #FFF;
    font-size: 60%;
    margin-bottom: 20px;
    }

    #quick_reference td {
    padding-right: 15px;
    line-height:1.5em;
    font-size: 12px;
    color: black;
    border-bottom:1pt dashed gray;
    }

    #quick_reference .regex {
    color: #f68526;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    text-align: center;
    width:60px;
    }

    #results, #groups {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    }

    #output, #error {
    display: none;
    }

    ol, ul {
    list-style: none;
    }

    #intro, #error, #output {
    margin: 10px -30px -30px -30px;
    padding: 30px;
    }

    #results li {
    margin-bottom: 10px;
    }

    #results li:last-child {
    margin-bottom: 0px;
    }

    #results span {
    background-color: #9CE39E;
    margin: 3px;
    }

    #groups {
    margin-bottom: 20px;
    }

    #groups h3 {
    font-size: 1em;
    margin-bottom: 5px;
    color: #999;

    }

    #groups ol {
    list-style-type: decimal;
    margin-bottom: 10px;
    padding-left: 30px;
    }


</style>
<script>
    $(function() {
      new App();
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">Regular Expression Validator</div>
            <div class="panel-body">

                <div class="row col-lg-9 col-md-9">
                    <div id="main">
                        <div id="expression">
                            <div class="row">
                                <label class="col-lg-10 col-md-10">Expression</label>
                                <label class="col-lg-2 col-md-2">Modifiers</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">/</span>
                                        <input type="text" name="expression" class="form-control col-lg-10"
                                               placeholder="regular expression" aria-describedby="basic-addon1">
                                        <span class="input-group-addon">/</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <input type="text" name="option" class="form-control" placeholder="i, g or empty">
                                </div>
                            </div>

                        </div>
                        <br>

                        <div id="test_strings">
                            <label>Test String:</label>
                            <textarea class="form-control" rows="5" name="test_strings"></textarea>
                        </div>

                        <div id="error">
                            <p>No Matches</p>
                        </div>

                        <div id="output">
                            <label>Match Results:</label>
                            <ul id="results"></ul>
                            <label>Match Groups:</label>
                            <ul id="groups"></ul>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-3 col-md-3 pull-right">
                        <div id="quick_reference">
                            <div class="scrollable">
                                <p class="text-center">Modifiers:</p>
                                <table>
                                    <tr>
                                        <td class="regex">i</td>
                                        <td>Perform case-insensitive matching</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">g</td>
                                        <td>Perform a global match</td>
                                    </tr>
                                </table>
                                <p class="text-center">Brackets:</p>
                                <table>
                                    <tr>
                                        <td class="regex">[abc]</td>
                                        <td>Match a single character a, b, or c</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">[^abc]</td>
                                        <td>Match any character except a, b, or c</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">[A-z]</td>
                                        <td>Match any character from uppercase A to lowercase z</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">(ab|cd|ef)</td>
                                        <td>Match either ab, cd, or ef</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">(...)</td>
                                        <td>Capture anything enclosed</td>
                                    </tr>
                                </table>
                                <p class="text-center">Metacharacters</p>
                                <table>
                                    <tr>
                                        <td class="regex">^</td>
                                        <td>Start of line</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">$</td>
                                        <td>End of line</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">.</td>
                                        <td>Match any character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\w</td>
                                        <td>Match a word chracter</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\W</td>
                                        <td>Match a non-word character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\d</td>
                                        <td>Match a digit</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\D</td>
                                        <td>Match any non-digit character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\s</td>
                                        <td>Match a whitespace character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\S</td>
                                        <td>Match a non-whitespace character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\b</td>
                                        <td>Match character at the beginning or end of a word</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\B</td>
                                        <td>Match a character not at beginning or end of a word</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\0</td>
                                        <td>Match a NUL character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\t</td>
                                        <td>Match a tab character</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\xxx</td>
                                        <td>Match a character specified by octal number xxx</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">\xdd</td>
                                        <td>Match a character specified by hexadecimal number dd</td>
                                    </tr>
                                </table>
                                <p class="text-center">Quantifiers</p>
                                <table>
                                    <tr>
                                        <td class="regex">n+</td>
                                        <td>Match at least one n</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">n*</td>
                                        <td>Match zero or more n's</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">n?</td>
                                        <td>Match zero or one n</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">n{X}</td>
                                        <td>Match sequence of X n's</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">n{X,Y}</td>
                                        <td>Match sequence of X to Y n's</td>
                                    </tr>
                                    <tr>
                                        <td class="regex">n{X,}</td>
                                        <td>Match sequence of X or more n's</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div><!--/.row-->

}