@import play.api.libs.json.Json
@main(2) {

<style>

</style>

<style>
    canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }
</style>

<script src='@routes.Assets.at("js/bootstrap-table.js")'></script>
<!--<script src='@routes.Assets.at("js/bootstrap-table-export.js")'></script>-->
<script src='@routes.Assets.at("js/bootstrap-table-filter-control.js")'></script>
<script src='@routes.Assets.at("js/bootstrap-table-editable.js")'></script>
<!--<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>-->
<!--<script src='@routes.Assets.at("js/chart/chart.js")'></script>-->
<!--<script src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js'></script>-->
<script src='@routes.Assets.at("js/Chart.bundle.min.js")'></script>
<script src='@routes.Assets.at("js/bootstrap-editable.js")'></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline row">

                    <div class="col-lg-12 col-md-12 form-inline">
                        Report
                        for
                        <select class="selectpicker" data-width="fit" id="selectEngine">
                            @Engine.getEngines.map{e =>
                            <option>@e</option>
                            }
                        </select>
                        <select class="selectpicker" data-width="fit" id="selectDirection">
                            <!--@LangDirection.getLangDirections.map{e =>-->
                            <!--<option>@e</option>-->
                            <!--}-->
                        </select>
                        on
                        <select id="selectDateTime" class="selectpicker" data-width="fit" data-size="8" data-live-search="true">

                            <!--@Report.getTimeID(Engine.getEngines()(0)).as[List[Report]].map{dt =>-->
                            <!--<option>@dt.time</option>-->
                            <!--}-->

                        </select> :


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="engineType">Comment:</label>

                        <div class="input-group col-sm-9">
                            <input type="text" class="form-control" id="engineType" placeholder="Leave empty if no comment should be specified">

                            <div class="input-group-btn">
                                <button class="btn btn-success" type="button">Apply</button>
                                <button class="btn btn-danger" type="button">Clean</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="filterEngine">Engine:</label>

                        <div class="btn-group" role="group" aria-label="..." id="filterEngine">
                            <!--<button type="button" class="btn btn-default">1</button>-->
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Engine.getEngines.apply(0)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @Engine.getEngines.map{e =>
                                    <li><a href="#">@e</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @EngineType.getEngineTypes.apply(0)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @EngineType.getEngineTypes.map{e =>
                                    <li><a href="#">@e</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @LangDirection.getLangDirections.apply(0)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @LangDirection.getLangDirections.map{e =>
                                    <li><a href="#">@e</a></li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="selectDateTime2">Data & Time:</label>

                        <div class="col-sm-9" style="padding:0">
                            <select id="selectDateTime2" class="selectpicker" data-width="fit" data-size="8" data-live-search="true">

                                @Report.getTimeID(Engine.getEngines()(0)).as[List[Report]].map{dt =>
                                <option>@dt.time</option>
                                }

                            </select>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="panel panel-default col-lg-12" id="result-panel" style="margin-bottom:0px;">
        <div class="panel-body">
            <div style="height:80%" id="loaderContainer">
                <div id="loader"></div>
            </div>

            <div id="tableContent">
                <div class="row">

                    <!--<div id="toolbar" class="btn-group" role="group">-->
                    <!--<button type="button" class="btn btn-default" id="warningButton"></button>-->
                    <!--<button type="button" class="btn btn-default" id="ruleButton"><i class='glyphicon glyphicon-list notShowing' style='color:black;top:-1px;'></i></button>-->
                    <!--</div>-->

                    <table data-toggle="table" id="result-table"
                           data-height="620"
                           data-filter-control="true"
                           data-sort-name="category" data-sort-order="asc"
                           class="table-striped"
                           data-detail-view="true"
                           data-row-style="rowStyle">
                        <thead>
                        <tr>
                            <th id="passColumn" data-field="pass" data-halign="center" data-filter-control="select"><i id="toggleWarning" class="glyphicon glyphicon-info-sign" style="color:black;top:-3px;"></i></th>
                            <th data-field="id" data-halign="center"  data-sortable="true" data-filter-control="input">ID data point</th>
                            <th data-field="source" data-halign="center" data-sortable="true" data-filter-control="input">Source</th>
                            <th data-field="category" data-halign="center" data-sortable="true" data-filter-control="select">Category</th>
                            <th data-field="barrier" data-halign="center" data-sortable="true" data-filter-control="select">Phenomenon</th>
                            <th data-field="translation" data-halign="center" data-sortable="true" data-filter-control="input">Translation</th>
                            <th data-field="comment" data-halign="center" data-editable="true" data-sortable="true" data-filter-control="input">Comment</th>
                            <th data-field="positiveTokens" data-visible="false" data-halign="center" >PositiveTokens</th>
                            <th data-field="positiveRegex" data-visible="false" data-halign="center" >PositiveRegex</th>
                            <th data-field="negativeTokens" data-visible="false" data-halign="center" >NegativeTokens</th>
                            <th data-field="negativeRegex" data-visible="false" data-halign="center" >NegativeRegex</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <hr style="margin-top:60px !important; margin-left:-50px !important; margin-right:-20px !important;" class="span12"/>
                <div class="row col-lg-12">
                    Group by:
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default b-or-c">category</button>
                        <button type="button" class="btn btn-default active b-or-c">phenomenon</button>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="percentage-chart" height="300" width="600"></canvas>
                    </div>

                </div>
                <div class="row col-lg-12">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="bar-chart" height="300" width="600"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src='@routes.Assets.at("js/qt21/resultTable.js")'></script>
<script>

    var engines = @Html(Json.stringify(Engine.getEnginesJS()));
    var engine = engines[0];

    var reportAll= @Html(Json.stringify(Report.getFull()));
    var reports=[];
    var directions=[];

    for(var rp of reportAll){
        if(rp.engine===engine && directions.indexOf(rp.lang)<0){
            directions.push(rp.lang);
        }
    }

        $('#selectDirection').empty();
        for(var lang of directions){
            $('#selectDirection').append('<option>'+lang.substring(0,2).toUpperCase()+'->'+lang.substring(2,4).toUpperCase()+'</option>');
        }
        $('#selectDirection').selectpicker('refresh');

    var direction = directions[0];
    for(var rp of reportAll){
        if(rp.engine===engine && rp.lang===direction){
            reports.push(rp);
        }
    }

        $('#selectDateTime').empty();
        for(var rpnew of reports){
            $('#selectDateTime').append('<option>'+rpnew.time+'</option>');
        }
        $('#selectDateTime').selectpicker('refresh');

    var reportid=reports[0].id;

    $('#selectDateTime').on('changed.bs.select', function (event, clickedIndex, newValue, oldValue) {
        reportid=reports[clickedIndex].id;
        reload(reportid);
    });

    $('#selectEngine').on('changed.bs.select', function (event, clickedIndex, newValue, oldValue) {
        engine=engines[clickedIndex];
        reports=[];
        directions=[];
        for(var rp of reportAll){
        if(rp.engine===engine && directions.indexOf(rp.lang)<0){
            directions.push(rp.lang);
            }
        }
        $('#selectDirection').empty();
        for(var lang of directions){
            $('#selectDirection').append('<option>'+lang.substring(0,2).toUpperCase()+'->'+lang.substring(2,4).toUpperCase()+'</option>');
        }
        $('#selectDirection').selectpicker('refresh');

        var direction = directions[0];
        for(var rp of reportAll){
            if(rp.engine===engine && rp.lang===direction){
                reports.push(rp);
            }
        }
        reportid=reports[0].id;
        //reset datetime picker
        $('#selectDateTime').empty();
        for(var rpnew of reports){
            $('#selectDateTime').append('<option>'+rpnew.time+'</option>');
        }
        $('#selectDateTime').selectpicker('refresh');
        reload(reportid);
    });

    $('#selectDirection').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
        direction=$(e.currentTarget).val().replace("->","").toLowerCase();

        reports=[];
        for(var rp of reportAll){
            if(rp.engine===engine && rp.lang===direction){
                reports.push(rp);
            }
        }
        reportid=reports[0].id;
        //reset datetime picker
        $('#selectDateTime').empty();
        for(var rpnew of reports){
            $('#selectDateTime').append('<option>'+rpnew.time+'</option>');
        }
        $('#selectDateTime').selectpicker('refresh');
        reload(reportid);
    });

    var borc='barrier';
    $('.b-or-c').click(function(){
        borc=this.innerHTML;
        if(borc==='phenomenon') borc='barrier'
        reload(reportid);
        $('.b-or-c').toggleClass('active');
    });


    function reload(newid) {
        $.ajax({
        type: 'POST',
        url: '/getReport',
        data: JSON.stringify({'id':newid,'direction':direction}),
        beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
        },
        success: function(data) {
            refreshTable(data);
            refreshChart(data);
            document.getElementById("loaderContainer").style.display="none";
            document.getElementById("tableContent").style.display="block";
        },
        contentType: 'application/json',
        dataType: 'json'
        });
    }

    var percentageData = {
			labels : [],
			datasets : []
	}
    var ctx2 = document.getElementById("percentage-chart").getContext("2d");
    window.myBarPercentage = new Chart(ctx2, {
                type: 'bar',
                data: percentageData,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Accuracy: Pass/(Pass+Fail)'
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return tooltipItems.yLabel + '%';
                            }
                        }
                    },
                    scales:{
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit:5,
                                callback: function(value, index, values) {
                                    return value + '%';
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip:true,
                                maxTicksLimit:20
                            }
                        }]
                    }
                }
    });

    var barChartData = {
			labels : [],
			datasets : []
	}
    var ctx = document.getElementById("bar-chart").getContext("2d");

    window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Statistics in number'
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}}
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip:true,
                                maxTicksLimit:20
                            }
                        }]
                    }
                }
    });


    function refreshChart(data){
        var labels = new Array();
        var passMap = new Map();
        var failMap = new Map();
        var warnMap = new Map();

        for(i=0;i<data.length;i++){
            var temp = data[i];

            var barrier = temp[borc];

            var theMap;
            if(temp['pass']==="<i class='glyphicon glyphicon-ok isBlocked' style='color:black'></i>") theMap=passMap;
            else if(temp['pass']==="<i class='glyphicon glyphicon-remove isBlocked' style='color:black'></i>") theMap=failMap;
            else theMap=warnMap;

            if(theMap.has(barrier)){
                theMap.set(barrier,theMap.get(barrier)+1);
            } else {
                theMap.set(barrier,1);
            }

            if(labels.indexOf(barrier)===-1) labels.push(barrier);
        }

        var passData = new Array();
        var failData = new Array();
        var warnData = new Array();

        var pData = new Array();

        for(i=0;i<labels.length;i++){
            var label = labels[i];
            if(passMap.has(label)) passData.push(passMap.get(label));
            else passData.push(0);

            if(failMap.has(label)) failData.push(failMap.get(label));
            else failData.push(0);

            if(warnMap.has(label)) warnData.push(warnMap.get(label));
            else warnData.push(0);

            var passp = passMap.has(label)?passMap.get(label):0;
            var failp = failMap.has(label)?failMap.get(label):0;
            var total = passp + failp;
            if(total === 0)
                pData.push(0.0);
            else
                pData.push(((passp/total)*100).toFixed(1));
        }

        barChartData.labels=labels;
        barChartData.datasets = [
				{
				    label:'Pass',
					backgroundColor:"rgb(223,240,216)",
					data : passData
				},
				{
					label:'Fail',
					backgroundColor : "rgb(242,222,222)",
					data : failData
				},
				{
					label:'Warning',
					backgroundColor : "rgb(252,248,227)",
					data : warnData
				}
			];

        window.myBar.update();


        var nlabels = new Array();
        var ndata = new Array();
        nlabels.push(labels[0]);
        ndata.push(pData[0]);
        for(i=1;i<labels.length;i++){
            var j=0;
            for(;parseFloat(pData[i])<parseFloat(ndata[j]);j++);
            ndata.splice(j,0,pData[i]);
            nlabels.splice(j,0,labels[i]);
        }

        percentageData.labels=nlabels;
        percentageData.datasets = [
				{
					backgroundColor:"rgb(223,240,216)",
					data : ndata
				}
		];

		window.myBarPercentage.update();

    }

    reload(reportid);


</script>


}
