
@main(3) {

<style>
    table{
        font-size: 10px;
    }
    .fixed-table-container thead th {
        font-size: 10px;
    }
    .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        line-height: 12px;
    }
    .filterControl .form-control {
        height: 18px;
    }


</style>


<iframe style="height:100%;width:100%;overflow:hidden" src="https://docs.google.com/spreadsheets/d/1jRFCeYOwIV09ST3EOTpcpWLegiXF61f7tU27NJ1W1kM/edit#gid=0&widget=true" name="iframe_a"></iframe>


}