@import play.api.libs.json.Json
@main(1)  {

<link rel='stylesheet' href='@routes.Assets.at("css/bootstrap-tokenfield.css")'>
<link rel='stylesheet' href='@routes.Assets.at("css/jquery-ui.min.css")'>

<script src='@routes.Assets.at("js/bootstrap-table.js")'></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>-->
<script src='@routes.Assets.at("js/bootstrap-editable.js")'></script>
<script src='@routes.Assets.at("js/bootstrap-table-filter-control.js")'></script>
<script src='@routes.Assets.at("js/jquery-ui.min.js")'></script>
<script src='@routes.Assets.at("js/bootstrap-tokenfield.min.js")'></script>

<!--<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/css/fileinput.min.css' rel="stylesheet">-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="btnEngine">Engine:</label>

                        <div class="input-group col-sm-9">
                            <input type="text" class="form-control" id="btnEngine">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">select <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @Engine.getEngines.map{e =>
                                    <li><a href="#" onclick="$('#btnEngine').val($(this).text());">@e</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="selectDirection">Language direction:</label>

                        <div class="col-sm-9" style="padding:0">
                            <select class="selectpicker form-control" data-width="fit" id="selectDirection">
                                @LangDirection.getLangDirections.map{e =>
                                <option>@e</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="engineType">Type of engine:</label>

                        <div class="form-group col-sm-9">
                            <input type="text" class="form-control" id="engineType" placeholder="Use ',' to separate multiple types">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="filename">Report file:</label>

                        <div class="input-group col-sm-9">
                            <input type="text" id="filename" class="form-control">
                                    <span class="input-group-btn">
                                        <label class="btn btn-default" type="button" id="browse">
                                            Browse <input type="file" id="file" name="report" style="display: none;"/>
                                        </label>
                                    </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="template">Template id:</label>

                        <div class="col-sm-7" style="padding:0">
                            <input type="text" class="form-control" id="template"
                                   placeholder="Important! Please add template id manually if it wasn't inferred from the file name!">
                        </div>
                        <div class="checkbox col-sm-2">
                            <label><input type="checkbox" value="" id="oldReport">old report</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">Comment:</label>

                        <div class="col-sm-9" style="padding:0">
                            <input type="text" class="form-control" id="comment" placeholder="">
                        </div>
                    </div>


                </form>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9" style="padding:0;">
                        <button style="margin-left:-10;" class="btn btn-default btn-warning" onclick="upload()">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default col-lg-12" id="result-panel" style="display:none; margin-bottom:0px; height:100%;">
        <div class="panel-body">
            <div style="height:80%" id="loaderContainer">
                <div id="loader"></div>
            </div>

            <div id="tableContent">
                <div class="row">

                    <table data-toggle="table" id="result-table"
                           data-height="620"
                           data-filter-control="true"
                           data-sort-name="id" data-sort-order="asc"
                           class="table-striped"
                           data-row-style="rowStyle">
                        <thead>
                        <tr>
                            <th id="passColumn" data-field="pass" data-halign="center" data-filter-control="select"><i id="toggleWarning" class="glyphicon glyphicon-info-sign" style="color:black;top:-3px;"></i></th>
                            <th data-field="id" data-halign="center"  data-sortable="true" data-filter-control="input">ID data point</th>
                            <th data-field="source" data-halign="center" data-sortable="true" data-filter-control="input">Source</th>
                            <th data-field="category" data-halign="center" data-sortable="true" data-filter-control="select">Category</th>
                            <th data-field="barrier" data-halign="center" data-sortable="true" data-filter-control="select">Phenomenon</th>
                            <th data-field="translation" data-halign="center" data-sortable="true" data-filter-control="input">Translation</th>
                            <th data-field="comment" data-halign="center" data-editable="true" data-sortable="true" data-filter-control="input">Comment</th>
                            <th data-field="positiveTokens" data-visible="false" data-halign="center" >PositiveTokens</th>
                            <th data-field="positiveRegex" data-visible="false" data-halign="center" >PositiveRegex</th>
                            <th data-field="negativeTokens" data-visible="false" data-halign="center" >NegativeTokens</th>
                            <th data-field="negativeRegex" data-visible="false" data-halign="center" >NegativeRegex</th>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

    <div class="modal fade"  id="orderModal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


<script>
var reportid=@Report.getLastReportID;

$('#file').change(function (event) {
    event.preventDefault();
    var fname = $(this).val().replace('C:\\fakepath\\', '');
    $('#filename').val(fname);

    var matches = fname.match(/[a-zA-Z_]*(\d+).*/);
    if(matches!=null){
        $('#template').val(matches[1]);
    } else {
        $('#template').val("");
    }

});

$('#oldReport').change(function() {
    //console.log($(this).prop('checked'));
    $('#template').prop('disabled',$(this).prop('checked'));
})

$('#engineType').tokenfield({
  autocomplete: {
    source: @Html(Json.stringify(EngineType.getEngineTypesJS)) ,
    delay: 100
  },
  showAutocompleteOnFocus: true
});

var direction;


function upload(){

    console.log($('#engineType').data('bs.tokenfield').$input.val());

    if($('#btnEngine').val().length===0){
        $('#btnEngine').parent().addClass('has-error');
        return true;
    } else {
        $('#btnEngine').parent().removeClass('has-error');
    }
    if($('#engineType').val().length===0){
        if($('#engineType').data('bs.tokenfield').$input.val().length===0) {
            $('#engineType').parent().parent().addClass('has-error');
            return true;
        }
    } else {
        $('#engineType').parent().parent().removeClass('has-error');
    }
    if($('#filename').val().length===0){
        $('#filename').parent().addClass('has-error');
        return true;
    } else {
        $('#filename').parent().removeClass('has-error');
    }
    if($('#template').val().length===0 && !$('#oldReport').prop('checked')){
        $('#template').parent().addClass('has-error');
        return true;
    } else {
        $('#template').parent().removeClass('has-error');
    }

   var file = $('#file').get(0).files[0];
   var formData = new FormData();
   formData.append('report', file);
   formData.append('engine', $('#btnEngine').val());
   formData.append('direction', $('#selectDirection').selectpicker('val'));
   direction=$('#selectDirection').selectpicker('val').replace("->", "").toLowerCase();
   if($('#engineType').val().length>0)
       formData.append('type',$('#engineType').val());
   else
       formData.append('type',$('#engineType').data('bs.tokenfield').$input.val());
   formData.append('template',$('#oldReport').prop('checked')?'0':$('#template').val());
   formData.append('comment',$('#comment').val());
   //console.log(formData);
   $.ajax({
       url: '/upload',
       data: formData,
       type: 'POST',
       contentType: false,
       processData: false,
       beforeSend: function (data) {
         $('#result-panel').css("display", "block");
         document.getElementById("loaderContainer").style.display="block";
         document.getElementById("tableContent").style.display="none";
           $('html, body').animate({
               scrollTop: $("#result-panel").offset().top
           }, 200);
       },
       success: function (data) {
         refreshTable(data);
         reportid+=1;
         document.getElementById("loaderContainer").style.display="none";
         document.getElementById("tableContent").style.display="block";
       },
       error: function (jqXHR, textStatus, errorThrown) {
         alert(textStatus + ': ' + errorThrown);
       }
    });
    return false;
}


</script>
<script src='@routes.Assets.at("js/qt21/resultTable.js")'></script>


}