
#templateTable {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 60px;
}

#templateTable th,
td {
    text-align: left;
    padding: 8px;
}

@media(min-width:1800px){

    .modal-dialog.modal-xl{
        width:1700px;
    }

}

#templateTable tr:nth-child(even) {
    background-color: #f2f2f2
}
